<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bibliotec</title>
    <script type="importmap"></script>

    @RenderSection("Styles", required: false)

</head>
<body>

    <main role="main">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
